[Desktop Entry]
Actions=CMakeGUIHere
Icon=
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action CMakeGUIHere]
Exec=cmake-gui "-S%f" "-B%f/build"
Icon=
Name=CMake GUI Here
